@import "../../App.scss";
.itemDetail {
    border: 1px solid #000;
    border-radius: .25rem;
    background-color: #030608;
    padding: 10px;
}

.itemDetailBadge {
    position: absolute;
    right: 16px;
    bottom: 1px;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 3px 6px;
    font-size: 20px;
}