@import "../../App.scss";
.fa {
    color: rgb(0, 0, 0);
}

.dropdownMenu {
    border: 3px solid rgb(82, 80, 80);
    background-color: rgb(82, 80, 80);
}

.dropdown-item {
    color: $base-navbar;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #000;
    text-decoration: none;
    background-color: #fff;
}