@import "../../App.scss";
.navbar {
    background-color: $base-navbar;
}

.nav-link {
    &:hover {
        color: $base-background !important;
    }
}

.dropdown-toggle::after {
    display: none !important;
}