@import "../../App.scss";
.navbar {
    background-color: $base-navbar;
}

.dropdown-menu {
    background-color: $base-navbar;
}

.nav-link {
    &:hover {
        color: $base-background !important;
    }
}