$base-background: #fff;
$base-navbar: hsl(0, 0%, 100%);
$base-color: rgb(5, 5, 5);
body {
    background-color: $base-background;
    color: $base-color;
}

html,
body,
#root {
    height: 100%;
}

body,
#root {
    display: flex;
    flex-direction: column;
    background-color: $base-background;
    color: $base-color;
}

.content {
    flex: 1 0 auto;
}